/* sidebar styling */

.sidebar-link:hover {
  background-color: #3f51b5 !important; /* Material Indigo 500 */
  color: #fff !important;
}

.sidebar-link.active {
  background-color: #5c6bc0 !important; /* Indigo 400 */
  color: #fff !important;
  font-weight: 600 !important;
}

/* EmployeeList */

.tableHeader_employeeList {
  background-color: #0385acff !important;
  color: white !important;
  text-align: center;
}

/* LeaveList */

.tableHeader_leaveList {
  background-color: #0385acff !important;
  color: white !important;
  text-align: center;
}

/* Attendance Calendar */

.present-day {
  background: green !important;
  color: white !important;
  border-radius: 50% !important;
}

.absent-day {
  background: red !important;
  color: white !important;
  border-radius: 50% !important;
}

.halfday-day {
  background: orange !important;
  color: white !important;
  border-radius: 50% !important;
}

/* Calendar Legend */
.legend {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.legend-item {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}

.legend-item.present {
  background: green;
}

.legend-item.absent {
  background: red;
}

.legend-item.halfday {
  background: orange;
}