

/* admin login page */

.adminLoginPage {
    background-color: #021e3b;
}
.form_login {
    background-color: #e2ebef;
}
.adminLoginInput:focus {
    border-color: #529eeb;
    box-shadow: 0 0 0 0.25rem #b2d8e8;
}

/* sidebar styling */

.no-arrow::after{
    display: none;
}
.accordion-button:focus,
.accordion-button:active,
.accordion-button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
.white-arrow::after{
    filter: brightness(0) invert(1);
}

