

/* admin login page */

.adminLoginPage {
    background-color: #021e3b;
}
.form_login {
    background-color: #e2ebef;
}
.adminLoginInput:focus {
    border-color: #529eeb;
    box-shadow: 0 0 0 0.25rem #b2d8e8;
}

/* sidebar styling */

.sidebar-link:hover {
  background-color: #3f51b5 !important; /* Material Indigo 500 */
  color: #fff !important;
}

.sidebar-link.active {
  background-color: #5c6bc0 !important; /* Indigo 400 */
  color: #fff !important;
  font-weight: 600 !important;
}




